/* for interactive text*/


/*.container-fluid {
    line-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white
}*/

.interactive-text {
    margin-top: -5%;
    margin-left: 2%;
    padding: 0;
    position: absolute;
    width: 100%;
    /*top: 50%;
    bottom: 50%;*/
    line-height: 0px;
    filter: contrast(10);
}

#intertext {
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 75px;
    margin: 0;
    color: #28a745;
    text-shadow: 4px 4px 12px grey, -4px -4px 12px grey, -4px 4px 12px grey, 4px -4px 12px grey;
}

@keyframes anim {
    0% {
        opacity: 0;
        filter: blur(25px)
    }
    10% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    /*100% {
        opacity: 1;
        filter: blur(6px)
    }*/
}

.A {
    animation: anim 5s infinite alternate-reverse;
}

.B {
    animation: anim 5s infinite alternate;
}

.row {
    margin-top: 7%;
}

.interactive-text-cart {
    margin-top: 2%;
    margin-left: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    /*top: 50%;
    bottom: 50%;*/
    line-height: 0px;
    filter: contrast(10);
}

#intertextCart {
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 75px;
    margin: 0;
    color: #28a745;
    text-shadow: 4px 4px 12px grey, -4px -4px 12px grey, -4px 4px 12px grey, 4px -4px 12px grey;
}

@keyframes anim {
    0% {
        opacity: 0;
        filter: blur(25px)
    }
    10% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    /*100% {
        opacity: 1;
        filter: blur(6px)
    }*/
}

.A {
    animation: anim 5s infinite alternate-reverse;
}

.B {
    animation: anim 5s infinite alternate;
}

#cart {
    padding-top: 10%;
}

#cartForLink {
    text-align: center;
    padding-top: 2%;
}

#oferta {
    margin-left: 3%;
    margin-top: 8%;
    color: grey;
    font-size: large;
}

#kontaktyDlaCart {
    margin-top: 3%;
}

#kontakty {
    color: #28a745;
    text-align: center;
    margin-top: 2%;
    margin-bottom: -2%;
}